modules = ["python-3.10:v18-20230807-322e88b"]
run = "streamlit run main.py --server.port=8080"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "streamlit run main.py --server.port=8080"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
